<style>
    .btn{
        width: 400px;   
    }
</style>

<div style ="display:block; gap:50px;">
    <div class="mb-3" >
        <a class="btn btn-info btn" href="@Url.Action("Register", "Account")">Register</a>
        <a class="btn btn-success btn" href="@Url.Action("Login", "Account")">Login</a>
        <a class="btn btn-secondary btn" href="@Url.Action("RegisterAdmin", "Account")">Register Admin</a>
    </div>
</div>
