html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background: #fff;
    box-shadow: 0 4px 6px rgba(22, 22, 26, 0.18);
}

    .navbar .navbar-nav .nav-link {
        color: #000;
    }

.btn-outline-dark {
    border-radius: 0;
}

    .btn-outline-dark:focus {
        box-shadow: none;
    }

@media screen and (max-width: 768px) {
    .btn-outline-dark {
        border: none;
        padding: 0;
        outline: none;
    }

        .btn-outline-dark:hover {
            background: none;
            color: gray;
        }
}
.audit-filter-form{
    > form {
               display:flex;
               align-items:center;
               gap:20px;
           }
}